body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #333;
    margin: 10px 0;
}

#dataForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#fileDropArea {
    border: 2px dashed #007bff;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}

#fileDropArea.dragover {
    border-color: #0056b3;
    background-color: #e7f1ff;
}

.file-remove {
    color: red;
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions button {
    margin-left: 5px;
}

#exportSection {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

#exportButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#exportButton:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
}

.modal-content {
    text-align: center;
}

.modal button {
    margin: 10px;
}

.modal.open {
    display: block;
}

#dataTable {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin: 20px 0;
}

#dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#dataTable th {
    background-color: #f2f2f2;
    color: #333;
}

.selected { /*渲染选中演示*/
    background-color: #e0f7fa; /* 高亮颜色 */
}
